/*-------------------------------------------RESET--------------------------*/

body {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(172, 161, 221);
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*-----------------------------------------------MOBILE----------------------------*/

.container {
  margin: 100px auto;
  width: 90%;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(109, 89, 220);
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.quote {
  margin-bottom: 10px;
}

.author {
  text-align: right;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 12px;
  border-radius: 30px;
  outline: none;
  background-color: aliceblue;
  border: 1px solid rgb(109, 89, 220);
}

/*-----------------------------------------------TABLET----------------------------*/

/*-----------------------------------------------DESKTOP----------------------------*/
