/*-------------------------------------------RESET--------------------------*/

body {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(172, 161, 221);
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*-----------------------------------------------MOBILE----------------------------*/

.container {
  margin: 100px auto;
  width: 90%;
  padding: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(109, 89, 220);
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
  position: relative;
}

h1::after {
  position: absolute;
  content: '';
  background-color: rgb(172, 161, 221);
  width: 80px;
  height: 3px;
  border-radius: 3px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

blockquote {
  margin-bottom: 10px;
}

blockquote::before,
blockquote::after {
  content: '"';
}

.author {
  font-style: italic;
  text-align: right;
  font-size: 14px;
}

.author::before {
  content: '- ';
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;
  padding: 10px;
  font-size: 12px;
  border-radius: 30px;
  outline: none;
  background-color: aliceblue;
  border: 1px solid rgb(109, 89, 220);
  transition: background-color 200ms ease-in-out;
}

button:active {
  background-color: rgb(172, 161, 221);
}

.post-btn {
  display: flex;
  align-self: baseline;
  justify-content: center;
  gap: 5px;
}

/*-----------------------------------------------TABLET----------------------------*/

@media screen and (min-width: 768px) {
  .container {
    margin-top: 200px;
    width: 70%;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  blockquote {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .author {
    text-align: center;
    right: 10px;
    font-size: 16px;
    transform: translateX(30%);
  }

  button {
    font-size: 14px;
  }

  .button-container {
    margin-top: 50px;
    gap: 40px;
  }
}

/*-----------------------------------------------DESKTOP----------------------------*/

@media screen and (min-width: 1280px) {
  .container {
    width: 50%;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 60px;
  }

  h1::after {
    width: 120px;
  }

  blockquote {
    font-size: 28px;
  }

  .author {
    font-size: 20px;
  }

  .button-container {
    gap: 60px;
  }

  button {
    min-width: 150px;
    font-size: 18px;
    padding: 15px;
  }

  button:hover,
  button:focus {
    background-color: rgb(172, 161, 221);
  }

  button:active {
    background-color: rgb(155, 139, 227);
  }

  .post-btn {
    gap: 10px;
  }

  .icon {
    width: 1.2em;
    height: 1.2em;
  }
}
